header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ...................cta................... */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* .........socials icons....... */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  /* background: var(--color-primary); */
}

/* ................me.............. */

.me {
  width: 22rem;
  height: 100px;
  position: absolute;
  left: calc(50% - 12rem);
  margin-top: 2rem;
  border-radius: 2rem;
}

@media screen and (max-width: 1024px) {
  /* header {
    height: 100vh;
  } */
  .header__socials {
    display: flex;
    flex-direction: row;
  }
}

@media screen and(max-width:600px) {
  /* header {
    height: 100vh;
  } */

  .header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
